// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #848484;
$lighter-gray: #F4F4F4;
$light-gray: #C6C6C6;


// Custom color scheme:
$my-yellow: #f8e936;
$my-green: #00c7ab;
$my-dark-green: #008889;
$my-dark-blue: #00556e;
