// Import Google fonts

// Not working!
// @import "https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Indie+Flower.css";

// Define fonts for body and headers
$body-font: "Titillium Web", "Helvetica", "sans-serif";
$headers-font: "Didact Gothic", "Helvetica", "sans-serif";
$logo-font: 'Pacifico', 'cursive';


// GLOBAL variables for FONTS
p {
  font-weight: 300;
}

// Changes default font for select2
.select2-selection__placeholder {
  font-family: $body-font !important;
  font-weight: 300;
}

// Overwrite default form font weight
.form-group {
 font-weight: 300;
}

.text-gray {
  color: $light-gray;
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
