// Bottom and top
.margin-v-xs {
  margin-top:    20px !important;
  margin-bottom: 20px !important;
}

.margin-v-sm {
  margin-top:    40px !important;
  margin-bottom: 40px !important;
}

.margin-v-md {
  margin-top:    80px !important;
  margin-bottom: 80px !important;
}

.margin-v-lg {
  margin-top:    120px !important;
  margin-bottom: 120px !important;
}

.margin-v-xl {
  margin-top:    200px !important;
  margin-bottom: 200px !important;
}

.margin-h-xs {
  margin-left:    20px !important;
  margin-right:   20px !important;
}

.margin-h-sm {
  margin-left:    40px !important;
  margin-right:   40px !important;
}

.margin-h-md {
  margin-left:    80px !important;
  margin-right:   80px !important;
}

.margin-h-lg {
  margin-left:    120px !important;
  margin-right:   120px !important;
}

.margin-h-xl {
  margin-left:    200px !important;
  margin-right:   200px !important;
}



// Top only
.margin-top-xs {
  margin-top: 20px !important;
}

.margin-top-sm {
  margin-top: 40px !important;
}

.margin-top-md {
  margin-top: 80px !important;
}

.margin-top-lg {
  margin-top: 120px !important;
}

// Bottom only
.margin-bottom-xs {
  margin-bottom: 20px !important;
}
.margin-bottom-sm {
  margin-bottom: 40px !important;
}

.margin-bottom-md {
  margin-bottom: 80px !important;
}

.margin-bottom-lg {
  margin-bottom: 120px !important;
}

// Right only
.margin-right-xxs {
  margin-right: 10px !important;
}

.margin-right-xs {
  margin-right: 20px !important;
}
.margin-right-sm {
  margin-right: 40px !important;
}

.margin-right-md {
  margin-right: 80px !important;
}

.margin-right-lg {
  margin-right: 120px !important;
}

// No margin
.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}
