.margin-v-sm {
  margin-top:    40px !important;
  margin-bottom: 40px !important;
}

.margin-v-md {
  margin-top:    80px !important;
  margin-bottom: 80px !important;
}

.margin-v-lg {
  margin-top:    120px !important;
  margin-bottom: 120px !important;
}

.margin-v-xl {
  margin-top:    200px !important;
  margin-bottom: 200px !important;
}

