// Vertical only
.padding-v-sm {
  padding-top:    20px;
  padding-bottom: 20px;
}

.padding-v-md {
  padding-top:    40px;
  padding-bottom: 40px;
}

// Horizontal only
.padding-h-sm {
  padding-left:    20px;
  padding-right:   20px;
}


.padding-h-md {
  padding-left:    40px;
  padding-right:   40px;
}

// All sides
.padding-xs {
  padding: 10px;
}

.padding-sm {
  padding: 20px;
}

.padding-md {
  padding: 40px;
}
