<h4><%= @greeting %></h4>
<p>
  Ficamos felizes que você tenha se cadastrado em nosso site.
</p>
<p>
  Para validar seu e-mail acadêmico, clique na URL abaixo:
</p>
  <!-- TO-DO: Validation link -->
<p>Sinceramente,</p>
<p>Equipe Quem Já Fez.</p>
