<h1>Precisamos que você valide seu email acadêmico</h1>

<p>
  <%= "#{@resume.user.first_name} #{@resume.user.last_name}" %>, precisamos que você valide seu e-mail!
</p>

<p>Sinceramente,</p>
<p>Equipe Quem Já Fez</p>
