<!-- Small Banner -->
<div class="banner banner-sm" style="background-image: linear-gradient(-225deg, rgba(107,89,28,.50) 0%, rgba(217,198,108,.50) 50%), url(<%= image_path 'universidade_federal_do_parana.jpg' %>);">
  <%= render '/shared/banner_form' %>
</div>

<!-- Body -->
<div class="container">

</div>
