<!-- Small Banner -->
<<<<<<< HEAD
<div class="banner banner-sm" style="background-image: linear-gradient(-225deg, rgba(107,89,28,.50) 0%, rgba(217,198,108,.50) 50%), url(<%= image_path 'universidade_federal_do_parana.jpg' %>);">
=======
<div class="banner banner-sm" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
>>>>>>> 906e3d9f4354514fde42e4681e568dab978d4f18
  <%= render '/shared/banner_form' %>
</div>

<!-- Body -->
<div class="container">

</div>
