<form class="form-inline" method="GET" action="/results">
  <input class="form-control" type="text" name="course" placeholder="Administração" id="course">
  <input class="form-control" type="text" name="university" placeholder="FAAP" id="course">
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>
