<form class="form-inline" method="GET" action="/results">
  <input class="form-control" type="text" name="course" placeholder="<%= @course %>" id="course">
  <input class="form-control" type="text" name="university" placeholder="<%= @university %>" id="course">
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2();
});
</script>

<select class="js-example-basic-single">
  <option value="AL">Alabama</option>
    ...
  <option value="WY">Wyoming</option>
</select>
