<form class="form-inline" method="GET" action="/results">
  <input class="form-control" type="text" name="course" placeholder="<%= @course %>" id="course">
  <input class="form-control" type="text" name="university" placeholder="<%= @university %>" id="course">
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>
