<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a style="cursor: pointer;" class="first"><i class="fa fa-youtube"></i></a></li>
          <li><a style="cursor: pointer;" class="first"><i class="fa fa-instagram"></i></a></li>
          <li><a style="cursor: pointer;" class="first"><i class="fa fa-facebook"></i></a></li>
          <li><a style="cursor: pointer;" class="first"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul>
          <li><%= link_to "Cadastrar-se", new_user_registration_path, class: 'second' %></li>
          <li><%= link_to "Blog", new_user_registration_path, class: 'second' %></li>
          <li><%= link_to "About", about_path, class: 'second' %></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <p class="pull-right">&copy; QJF Team</p>
      </div>
    </div>
  </div>
</div>
