<div class="wrapper">
  <div class="container margin-v-lg">

    <h2 class="text-center">Como funciona?</h2>

    <div class="cards">
      <div class="row justify-content-center">

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works">
            <div class="card-banner text-center">
              <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center">
              <h4>Cadastre-se</h4>
              <p>Crie uma conta para poder marcar conversas com universitários.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works">
            <div class="card-banner text-center">
              <i class="fa fa-search fa-5x" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center">
              <h4>Busque por cursos e/ou faculdades</h4>
              <p>Nossa busca é rápida e facil, encontre veteranos de diversas faculdades e cursos, e escolha os que te interessam.</p>
            </div>
          </div>
        </div>

        <div class="calendar">
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works">
            <div class="card-banner text-center">
              <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center">
              <h4>Marque uma conversa</h4>
              <p>Agende com um universitário uma conversa por vídeo, e aí é só acessar sua conta no dia que a conversa for rolar.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
