<section>
<div class="wrapper">
  <div class="container margin-v-lg">

    <h2 class="text-center">Como funciona?</h2>

    <div class="cards">
      <div class="row justify-content-center">

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm first-row">
            <div class="card-banner text-center">
              <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title text-center">

              <h4>Cadastre-se</h4>

            </div>
            <div class="card-body text-center">
              <p>Crie uma conta para poder marcar conversas com universitários.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm first-row">
            <div class="card-banner text-center">
              <i class="fa fa-search fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title text-center">

              <h4>Busque por cursos e/ou faculdades</h4>
              <p>Teste</p>
            </div>
            <div class="card-body text-center">
              <p>Encontre veteranos de diversas faculdades e cursos que te interessam.</p>
            </div>
          </div>
        </div>

        <div class="calendar">
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm first-row">
            <div class="card-banner text-center">
              <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title text-center">

              <h4>Marque uma conversa</h4>

            </div>
            <div class="card-body text-center">
              <p>No perfil do seu futuro veterano marque uma conversa e no dia marcardo  tire todas as suas dúvidas por vídeo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
