<div class="wrapper">
  <div class="container margin-v-lg">
    <h2 class="text-center">Como se tornar um universitário</h2>

    <div class="cards">
      <div class="row justify-content-center margin-v-md">

        <h3>1.</h3>
        <h3>Cadastre-se</h3>
        <p>Comece criando seu currículo, a página que os vestibulandos acessarão</p>
        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm">
            <div class="card-banner">
              <i class="fa fa-calendar-check-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title">
              <h4>Quem pode marcar uma conversa?</h4>
            </div>

            <div class="card-body">
              <p>
                Apenas usuários cadastrados no nosso site, e você determina seus horários disponíveis.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm">
            <div class="card-banner">
              <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title">
              <h4>O que é um currículo?</h4>
            </div>

            <div class="card-body">
              <p>
                Nada mais que um perfil com informações básicas suas e do seu curso, como se você o recomenda ou não, se você é um calouro ou veterano, essas coisas.
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="row justify-content-center">

        <h3>2.</h3>
        <h3>Usuários reservam um horário para conversar com o universitário</h3>
        <p>
          Você receberá uma notificação quando uma nova conversa for agendada
        </p>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm">
            <div class="card-banner">
              <i class="fa fa-commenting-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title">
              <h4>Conversas rápidas e informais</h4>
            </div>

            <div class="card-body">
              <p>
                As conversas duram em torno de 30-60 minutos. Os vestibulandos te perguntarão sobre questões gerais do curso como infraestrutura, método de ensino, custo de moradia, etc.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm">
            <div class="card-banner">
              <i class="fa fa-address-book-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title">
              <h4>Somos a sua agenda pessoal</h4>
            </div>

            <div class="card-body">
              <p>
                Você pode acessar todas as conversas que estão agendadas, e 24h antes da sua conversa enviamos um e-mail para te lembrar, pra você não perder a hora.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm">
            <div class="card-banner">
              <i class="fa fa-history fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title">
              <h4>Remarque conversas</h4>
            </div>

            <div class="card-body">
              <p>
                Surgiu um imprevisto? Você consegue remarcar conversas até 24h antes do combinado.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
