<div class="wrapper">
  <div class="container margin-v-md">
    <h2 class="text-center">Como funciona o Quem Já Fez?</h2>

    <div class="cards">
      <div class="row margin-v-md padding-h-sm">

        <h3>1.</h3>
        <a name="linktobottom"></a>
        <h3>Como se cadastrar</h3>
        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm">
            <div class="card-banner">
              <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title">
              <h4>Confirme seu email acadêmico</h4>
            </div>

            <div class="card-body">
              <p>
                Após seu cadastro te enviaremos um link para que você possa confirmar ser um estudante universitário.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm">
            <div class="card-banner">
              <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title">
              <h4>Escreva sobre seu curso</h4>
            </div>

            <div class="card-body">
              <p>
                Preencha seu perfil com informações básicas sobre você e seu curso, se você o recomenda ou não, se você é um calouro ou veterano etc.
              </p>
            </div>
          </div>
        </div>


        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm">
            <div class="card-banner">
              <i class="fa fa-calendar-check-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title">
              <h4>Marque sua disponibilidade</h4>
            </div>

            <div class="card-body">
              <p>
                 Coloque seus horários disponíveis em sua agenda para que os alunos possam marcar uma conversa com você.
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="row padding-h-sm">

        <h3>2.</h3>
        <h3>Usuários reservam um horário para conversar com você</h3>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm">
            <div class="card-banner">
              <i class="fa fa-commenting-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title">
              <h4>Conversas rápidas e informais</h4>
            </div>

            <div class="card-body">
              <p>
                As conversas duram 30 minutos.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm">
            <div class="card-banner">
              <i class="fa fa-address-book-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title">
              <h4>Somos a sua agenda pessoal</h4>
            </div>

            <div class="card-body">
              <p>
                Enviaremos um email quando um novo vestibulando marcar uma conversa com você.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works margin-v-sm">
            <div class="card-banner">
              <i class="fa fa-comments-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="card-title">
              <h4>Converse online sem dor de cabeça</h4>
            </div>

            <div class="card-body">
              <p>
                Clique no link que estará disponível na aba "Meus cursos" 10 minutos antes da sessão e tire as dúvidas do vestibulando.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
