<section>
<div class="wrapper wrapper-qjf">
  <div class="container">
    <h2 class="text-center">Por quê o Quem Já Fez?</h2>

    <div class="cards">
      <div class="row justify-content-center">
        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
            <div class="card-how-it-works margin-v-sm second-row">
              <div class="card-banner text-center">
                <i class="fa fa-hourglass-o fa-3x" aria-hidden="true"></i>
              </div>
              <div class="card-title text-center">

                <h4>Facil</h4>

              </div>

              <div class="card-body text-center">
                <p>
                  Com apenas alguns clicks você marca uma conversa com veteranos do curso que te interessa.
                </p>
              </div>
            </div>
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
            <div class="card-how-it-works margin-v-sm second-row">
              <div class="card-banner text-center">
                <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
              </div>
              <div class="card-title text-center">

                <h4>Conveniente</h4>

              </div>
              <div class="card-body text-center">
                <p>
                  Nós cuidamos da parte de agendamento, e lembraremos ambas as partes quando a conversa estiver para acontecer, não tem erro!
                </p>
              </div>
            </div>
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
            <div class="card-how-it-works margin-v-sm second-row">
              <div class="card-banner text-center">
                <i class="fa fa-user-o fa-3x" aria-hidden="true"></i>
              </div>
              <div class="card-title text-center">

                <h4>Diversificado</h4>

              </div>
              <div class="card-body text-center">
                <p>
                  Aqui você pode conversar com vários universitários, e escolher exatamente aquele que mais te representa.
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
