<!-- Banner -->
<div class="banner banner-lg" style="background-image: url(<%= image_path 'bw_college_graduation_day.jpg' %>);">
  <div class="banner-content">
    <h1>Quem Já Fez?</h1>
    <p>Busque e tire suas dúvidas com alunos que fazem o curso que te interessa.</p>

    <%= render '/shared/banner_form' %>
  </div>
</div>

<!-- Como funciona? -->
<%= render 'como-funciona' %>


<!-- Por quê o Quem Já Fez? -->
<%= render 'porque-qjf' %>
