<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Quem Já Fez?</h1>
    <p>Busque e tire suas dúvidas com alunos que fazem o curso que te interessa.</p>

    <%#= simple_form_for @user do |u| %>

    <%# end %>
    <form class="form-inline" method="GET" action="/results">
      <input class="form-control" type="text" value="ex.: Administração" id="course">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  </div>
</div>

<!-- Website description cards -->
<div class="wrapper">
  <div class="container v-margin-md">
    <div class="cards">
      <div class="row">

        <div class="col-xs-4">
          <div class="card">
            <div class="site-description">
              <div class="card-banner">

              </div>
              <div class="card-body text-center">
                <h4>Title</h4>
                <p>Lorem Ipsum Dolor Ales Gutten Hoffef Dolum Peloponeso</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="card site-description">
            <div class="card-banner">
            </div>
            <div class="card-body text-center">
              <h4>Title</h4>
              <p>Lorem Ipsum Dolor Ales Gutten Hoffef Dolum Peloponeso</p>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="card site-description">
            <div class="card-banner">

            </div>
            <div class="card-body text-center">
              <h4>Title</h4>
              <p>Lorem Ipsum Dolor Ales Gutten Hoffef Dolum Peloponeso</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
