<!-- Banner -->
<div class="banner" style="background-image: url(<%= image_path 'bw_college_graduation_day.jpg' %>);">
  <div class="banner-content">
    <h1>Quem Já Fez?</h1>
    <p>Busque e tire suas dúvidas com alunos que fazem o curso que te interessa.</p>

    <%= render '/shared/banner_form' %>
  </div>
</div>

<!-- Como funciona? -->
<div class="wrapper">
  <div class="container margin-v-md">

    <h2 class="text-center">Como funciona?</h2>

    <div class="cards">
      <div class="row justify-content-center">

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works">
            <div class="card-banner text-center">
              <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center">
              <h4>Cadastre-se</h4>
              <p>Crie uma conta para poder marcar conversas com universitários.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works">
            <div class="card-banner text-center">
              <i class="fa fa-search fa-5x" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center">
              <h4>Busque por cursos e/ou faculdades</h4>
              <p>Nossa busca é rápida e facil, encontre veteranos de diversas faculdades e cursos, e escolha os que te interessam.</p>
            </div>
          </div>
        </div>

        <div class="calendar">
        </div>

        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
          <div class="card-how-it-works">
            <div class="card-banner text-center">
              <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center">
              <h4>Marque uma conversa</h4>
              <p>Agende com um universitário uma conversa por vídeo, e aí é só acessar sua conta no dia que a conversa for rolar.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Por quê o Quem Já Fez? -->
<div class="wrapper">
  <div class="container margin-v-md">
    <h2 class="text-center">Por quê o Quem Já Fez?</h2>
    <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
      <div class="">
      </div>
    </div>

    <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
      <div class="">
      </div>
    </div>

    <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0">
      <div class="">
      </div>
    </div>
  </div>
</div>
