<div class="banner" style="background-image: url(<%= image_path 'undergrad_info.jpg' %>);">
  <div class="container">
    <div class="col-xs-5">
      <div class="card-info card-border-rd-sm">
        <div class="card-title">
          <p class="banner-legend">Seja um mentor</p>
          <h2>Junte-se ao grupo de universitários do<br>Quem Já Fez</h2>
        </div>
        <div class="card-body">
          <p>Você recomenda seu curso? Quais as matérias mais difíceis da facul? Converse com vestibulandos que possuem tais dúvidas e ganhe um dinheiro extra.</p>
        </div>
        <!-- If user is an undergrad, take him to 'edit resumes', else, help him create his first resume -->
        <%=
          link_to_if(current_user && current_user.undergraduate == false, "Adicione um currículo", new_profile_verification_path, class: "btn btn-primary") do
              link_to("Editar meus currículos", profile_resumes_path, class: "btn btn-default")
          end
        %>
      </div>
    </div>
  </div>
</div>

<%= render 'passo-a-passo' %>
