<div class="banner" style="background-image: url(<%= image_path 'undergrad_info.jpg' %>);">
  <div class="container">
    <div class="col-xs-5">
      <div class="card-info card-border-rd-sm">
        <div class="card-title">
          <p class="banner-legend">Seja um mentor</p>
          <h2>Participe da plataforma como um universitário</h2>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in ipsum quis neque tempus viverra ut ut lorem. Aliquam erat volutpat. Fusce tempus turpis id cursus cursus. Duis faucibus consequat pulvinar. Proin at pellentesque neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <%= link_to "Adicione um currículo", profile_resumes_path, class: "btn btn-primary" %>
        <!-- TO-DO: By pressing this, the user should become an undergraduate -->
      </div>
    </div>
  </div>
</div>
