.events.confirm {
  .title {
  }

  .card-confirm-details {
    width: 200px;
  }

  .flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
}
