.events.confirm {

  .card-plain {
    height: 200px;
    width: 100%;
    background-color: $brand-primary;
  }

  .title {
  }

  .card-confirm-details {
    width: 200px;
  }

  .flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
}
