.sign-up, .log-in {
  margin-top: 20px;
}

.facebook {
  background-color: #3B5998 !important;
}

.padding-md{
  padding-bottom: 0px;
}

#paypal_button{
  margin-left: 180px;
}

#paypal_button_position{
  margin-bottom: 28px;
}
