.sign-up, .log-in {
  margin-top: 20px;
}

.facebook {
  background-color: #3B5998 !important;
}

.padding-md{
  padding-bottom: 0px;
}

#paypal_button{
  display: flex;
  justify-content: center;
}

#paypal_button_position{

}

#paypal_button_position{

}
