.card {
  background-color: white;
  border-radius: 5px;
}

// -- Home page
.card-plain {
  background-color: $my-yellow;
  position: absolute;

  width: 300px;
  height: 25px;

  z-index: -1;
}

.plain-lt {
  left: 0;
  bottom: 10px;
}

.plain-mid {
  // left: 0;
  bottom: 10px;
}

.plain-rt {
  right: 0px;
  bottom: 10px;
}
// -----------

.card-how-it-works {
  z-index: 1;

  .card-banner {
    // margin-bottom: 50px;
    height: 60px;
    background-size: cover !important;
    background-position: center;
    color: $brand-success;
  }

  .card-title {
    color: $brand-success;
    position: relative;
  }
}

// app/views/pages/info
.card-info {
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
  .card-title {
    margin-bottom: 10px;
  }
  .card-body {
    margin-bottom: 20px;
  }
}

// -----------
// .card-resume
.card-resume {
  @extend .card;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .card-resume-user-info {
  // display: flex;
  // align-items: flex-start;
}

  // Progress bar
  .progress {
    margin: 0 !important;
    width: 50% !important;
  }

  .right-column {
    border-right: 2px solid rgba(128, 128, 128, 0.42);
    border-left: 2px solid rgba(128, 128, 128, 0.42);
  }

  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
    cursor: pointer;
  }

  .card-link:hover {
    // opacity: 0.05;
    // box-shadow: 1px 8px 16px rgba(0,0,0,0.2);
  }

  .course-body {
    @extend .margin-bottom-xs;
    p, h5, h6 {
      margin: 0;
    }
  }

  .user-description {
    margin: 0;
  }

  .vertical-line {
    width: 5px;
    height: 100%;
    background-color: red;
  }
}

// .review {
//   position: relative;
//   bottom: 20px;
// }
// card-resume
// -----------

.meeting-card {
  border-left: 7px solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  @extend .margin-bottom-xs;
  // height: 150px;

  small {
    font-size: 80%;

    .xs{
      font-size: 0.75em;
    }
  }

  ul.list-inline {
    margin-bottom: 0px;
    display: none;
  }

  .on_going_text {
    color: $my-yellow;
  }

  .scheduled_text {
    color: $my-green;
  }

  .completed_text {
    color: $gray;
  }

  .setting_up_text {
    color: $my-yellow;
  }

  &.on_going {
    border-color: $my-yellow;
  }

  &.scheduled {
    border-color: $my-green;
  }

  &.completed {
    border-color: $gray;
  }

  &.setting_up {
    border-color: $my-yellow;
  }

  .with-right-border {
    border-right: 1px solid $light-gray;
  }

  .card-flex {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .sec-t1 {
    flex-basis: 20%;
    // width: 150px;
    @extend .padding-right-xs;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      margin-bottom: 0px;
      font-size: 1em;
    }
  }

  .sec-t2 {
    flex-basis: 50%;
    // width: 350px;
    @extend .padding-h-xs;
    display: flex;
    flex-direction: row;
    align-self: flex-start;

    .icon {
      @extend .padding-right-xs;
    }

    .names {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: flex-start;
      flex: 1;
      @extend .padding-right-xs;

      p {
        margin-bottom: 0px;
        font-size: 1em;
      }

      .name-top {
        border-bottom: 1px solid $light-gray;
        padding-bottom: 10px;
        margin-bottom: 5px;
      }
    }
  }

  .sec-t3 {
    flex-basis: 30%;
    // width: 250px;
    @extend .padding-left-xs;
    border-left: 1px solid $light-gray;
    display: flex;

    .links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .font-blue {
      color: $my-light-blue;
    }

  }

  .review-card {
    display: none;
    margin-top: 20px;
    border-top: 1px solid $light-gray;

  }
}

// Review cards
.card-review {
  .review-avatar {
    display: flex;
    justify-content: flex-end;
  }

  .review-content {

  }
}
// Review cards


