.card {
  border: 1px solid $gray;
  border-radius: 5px;

  margin: 10px 0;
}

.card-how-it-works {
  .card-banner {
    // margin-bottom: 50px;
    height: 60px;
    background-size: cover !important;
    background-position: center;
    color: $brand-success;
  }

  .card-title {
    color: $brand-success;
  }
}

// app/views/pages/info
.card-info {
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  .card-title {
    margin-bottom: 10px;
  }
  .card-body {
    margin-bottom: 20px;
  }
}

.card-resume {
  @extend .card;

  // .card-banner {
  //   height: 200px;
  //   background-size: cover !important;
  //   background-position: center;
  // }
}

.card-border-rd-sm {
  border-radius: 5px;
}

.meeting-card {
  border-left: 7px solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  margin-bottom: 10px;
  height: 175px;

  .on_going_text {
    color: $my-yellow;
  }

  .scheduled_text {
    color: $my-green;
  }

  .completed_text {
    color: $my-dark-blue;
  }

  .setting_up_text {
    color: $my-yellow;
  }

  &.on_going {
    border-color: $my-yellow;
  }

  &.scheduled {
    border-color: $my-green;
  }

  &.completed {
    border-color: $my-dark-blue;
  }

  &.setting_up {
    border-color: $my-yellow;
  }

  .with-right-border {
    border-right: 1px solid $light-gray;
  }

  .occupy-all-height {
    height: 100%;
  }

  .all-complete-height-row {
    display: table;
  }

  .all-complete-height-col {
    float: none;
    display: table-cell;
  }

  .flex-test {
    height: 100%;
    display: flex;
    justify-content: space-between;

  }

  .sec-t1 {
    flex-basis: 150px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      margin-bottom: 0px;
      font-size: 16px;
    }
  }

  .sec-t2 {
    flex-grow: 2;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    p {
      margin-bottom: 0px;
      font-size: 16px;
    }
    .name-top {
      border-bottom: 1px solid $light-gray;
    }
  }

  .sec-t3 {
    flex-basis: 250px;
    padding: 0 15px;
    border-left: 1px solid $light-gray;
  }



}
