.header-resume {
  display: flex;
}

.resume-stance {
  display: flex;
  justify-content: flex-end;
  // z-index: 10;
  // margin-right: 10px;
}

.resume-stance-mid {
  @extend .resume-stance;
  align-items: center;
  margin-right: 10px;
}

.resume-title {
  // align-items: flex-start;

  h2 {
    margin: 0;
    padding-right: 20px;
  }
  p {
    margin: 0;
  }
}


.header-undergrad-profile {
  position: relative;
  top: -38px;

  z-index: 100;

  img {
    border: 2px solid white;
  }
}

