/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Logo */
.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;

  .logo {
    display: flex;
    align-items:center;
    text-decoration: none;

    background: -webkit-linear-gradient(-45deg, rgba(0, 199,176,1) 0%, rgba(0, 136, 131,1) 90%);
    -webkit-background-clip: text;
    color: transparent;

    // hard-coded size because background-clip crops the text.
    // The 'pacifico' font is large and fat so it grows outside the boundaries expected by background-clip
    height: 50px;
    width: 125px;
    h4 {
      font-family: $logo-font;
      font-weight: 600;
      margin: 0 !important;
    }
  }
  .logo:hover {
    color: $brand-primary;
  }

  .logo-beta-keyword {
    color: $black;
    opacity: 0.5;
    position: relative;
    top: -5px;
    right: -5px;
  }
}

.logo-container:hover {
  text-decoration: none;
}
/* Logo */


// Only affects home
.navbar-home {

}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}


// ONLY affects HOME and INDEX
.navbar-home {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .25), rgba(255, 255, 255, 0));
  position: absolute;
  width: 100%;
  box-shadow: none;

  .dropdown {
    color: white;
  }

  /* Logo */
  .logo {
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.4);
    background: transparent;
    color: white;
  }

  .logo:hover {
    color: white;
  }

  .logo-beta-keyword {
    color: white;
  }
  /* Logo */

  .navbar-wagon-link {
    color: white;
  }

  .navbar-wagon-link:hover {
    color: white;
  }

  // Alert that pops up when logging in and out
  .alert-info {
    position: absolute;
    right: 40px;
    top: 60px;
  }
}
