.stars {
  display: inline-block;


  input {
    display: none;
  }
}

.stars.disabled {
  pointer-events: none;
}

.stars label {
  @extend .fa;
  cursor: pointer;
}

.stars label:before, .stars input:checked+label:before {
  content: "\f005";
  color: $brand-primary;
}

.stars input:checked+label ~ label:before {
  content: "\f005";
  color: $light-gray;
}

.stars:hover label:before {
  content: "\f005" !important;
  color: $brand-primary;
}

.stars label:hover ~ label:before {
  content: "\f005" !important;
  color: $light-gray;
}

.stars label:hover:before {
  content: "\f005" !important;
  color: $brand-primary;
}

.review-stars {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .fa-star {
    padding: 0 5px;
    color: $brand-primary;

  }

  .fa-star.empty-star {
    padding: 0 5px;
    color: $light-gray;

  }
}
