.stars {
  display: inline-block;


  input {
    display: none;
  }
}

.stars.disabled {
  pointer-events: none;
}

.stars label {
  @extend .fa;
  cursor: pointer;
}

.stars label:before, .stars input:checked+label:before {
  content: "\f005";
  color: $brand-primary;
}

.stars input:checked+label ~ label:before {
  content: "\f005";
  color: $light-gray;
}

.stars:hover label:before {
  content: "\f005" !important;
  color: $brand-primary;
}

.stars label:hover ~ label:before {
  content: "\f005" !important;
  color: $light-gray;
}

.stars label:hover:before {
  content: "\f005" !important;
  color: $brand-primary;
}
