.users.show {
  .card {
    padding-right: 40px;
  }
  .title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h2 {
      margin: 0;
    }

    p {
      margin: 0;
    }

    // Progress bar
    .progress {
      margin: 0;
      width: 50%;
    }
  }

  .schedule {
    h2, p {
      margin: 0;
    }

    .schedule-price {

    }

    .schedule-button {

    }
  }

  .reviews-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
