.users.show {
  .card {
    padding-right: 40px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
    }

    p {
      margin: 0;
    }

    .title-text {
    display: flex;
      .title-course {
        // display: flex;
        align-items: center;

        h2 {
          padding-right: 20px;
        }
      }

      .title-course-opinion {
        align-items: flex-start;
        margin-right: 10px;
        margin-bottom: 20px;
      }

      .progress {
        margin: 0;
        width: 50%;
      }
    }
  }

  .schedule {
    // background-color: white;
    // border-radius: 5px;
    // position: fixed;
    h2, p {
      margin: 0;
    }

    .schedule-price {

    }

    .schedule-button {

    }
  }

  .reviews-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
